body {
    margin: 0;
}

.loader {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.app-bar {
    position: fixed !important;
}

.root {
    padding-top: 65px;
}

img {
    max-width: 100%;
}
